Tackle the Titanic dataset. A great place to start is on Kaggle.

### Download Dataset

In [4]:
from kaggle.api.kaggle_api_extended import KaggleApi
import zipfile
import os

api = KaggleApi()
api.authenticate()

competition = 'titanic'
download_path = './datasets'
api.competition_download_files(competition, path=download_path)

file_name = 'titanic.zip'
z = zipfile.ZipFile(os.path.join(download_path, file_name), "r")
z.extractall(download_path)
z.close

### Load Data

In [5]:
import os
import pandas as pd

folder_path = './datasets'
filename_train = 'train.csv'
filename_test = 'test.csv'
filename_gender = 'gender_submission.csv'

train = pd.read_csv(os.path.join(folder_path, filename_train))
test = pd.read_csv(os.path.join(folder_path, filename_test))
gender = pd.read_csv(os.path.join(folder_path, filename_gender))

In [9]:
gender

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

### EDA